/**
* Some Configs
**/
@font-face {
    font-family: 'proximanova';
    src: url('fonts/proximanova-regular-webfont.eot');
    src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-regular-webfont.woff') format('woff'),
         url('fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/**
* Base Layout
**/
* {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

input {
    -webkit-user-select: auto !important;
}

body, html {
    font-family: 'proximanova';
    background-color: #ebf0f2;
}

a {
    color: #1c9fe1;
}

a:active, input[type="submit"]:active {
    opacity: 0.5;
    outline:none;
}

/**
* Templates
**/

/**
* Modules
**/

/*header*/
.header {
    position: fixed;
    border-top: 20px solid black;
    background-color: #f6f7f7;
    border-bottom: 1px solid  #a4a8a9;
    width: 100%;
    height: 48px;
    z-index: 2;
    top: 0;
}

.header h1 {
    background-image: url(../img/joy.png);
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 10px;
    margin: 0;
    margin-left: -12.5px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .header h1 {
        background-image: url(../img/joy@2x.png);
    }
}

.header-add {
    background-image: url(../img/icon-add.png);
    width: 18px;
    height: 18px;
    float: right;
    margin-top: 15px;
    margin-right: 14px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .header-add {
        background-image: url(../img/icon-add@2x.png);
    }
}

.header-back {
    float: left;
    margin-top: 15px;
    margin-left: 14px;
}

/*month*/
.month {
    background-color: #f6f7f7;
    border-bottom: 1px solid  #a4a8a9;
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 69px;
    z-index: 2;
}

.month-pn {
    width: 12px;
    height: 21px;
    margin: 12px 0;
}

.month-prev {
    background-image: url(../img/icon-prev.png);
    float: left;
    margin-left: 27px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .month-prev {
        background-image: url(../img/icon-prev@2x.png);
    }
}

.month-next {
    background-image: url(../img/icon-next.png);
    float: right;
    margin-right: 27px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .month-next {
        background-image: url(../img/icon-next@2x.png);
    }
}

.month-date {
    font-size: 19px;
    color: #777b7d;
    margin-top: 11px;
    display: inline-block;
}

.month-year {
    font-size: 17px;
}

/*expenses*/
.expenses {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 110px;
    width: 100%;
    overflow: hidden;
    padding-top: 1px;
}

.expenses-item {
    border-top: 1px solid #cad0d1;
    border-bottom: 1px solid #cad0d1;
    margin-top: -1px;
    background-color: white;
    position: relative;
    padding: 25px 0;
    padding-left: 150px;
    width: calc(100% - 28px);
    -webkit-transform: translateX(-122px);
    transform: translateX(-122px);
    -ms-transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    transition:  0.25s ease-in-out;
}

.expenses-item-check {
    background-image: url(../img/icon-check.png);
    width: 34px;
    height: 33px;
    display: inline-block;
    position: absolute;
    top: 26px;
    right: 26px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .expenses-item-check {
        background-image: url(../img/icon-check@2x.png);
    }
}

.expenses-actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 127px;
    height: 100%;
    background-color: #16b388;
}

.expenses-actions-delete {
    background-image: url(../img/icon-delete.png);
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 25px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .expenses-actions-delete {
        background-image: url(../img/icon-delete@2x.png);
        width: 25px;
        height: 25px;
    }
}

.expenses-actions-edit {
    background-image: url(../img/icon-edit.png);
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 25px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .expenses-actions-edit {
        background-image: url(../img/icon-edit@2x.png);
        width: 25px;
        height: 25px;
    }
}

/*addexpense*/
.addexpense {
    padding: 20px;
    padding-top: 90px;
}

.addexpense .addexpense-field {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #cad0d1;
    border-radius: 5px;
}

.addexpense .addexpense-submit {
    width: 100%;
    padding: 10px;
    border: 1px solid #cad0d1;
    border-radius: 5px;
    background-color: #1c9fe1;
    color: white;
}

/*row*/
.row {
    margin-bottom: 10px;
    color: #363636;
}

/*paid*/
.paid {
    border-top: 1px solid #a4a8a9;
    position: fixed;
    background-color: #f6f7f7;
    width: 100%;
    height: 45px;
    z-index: 2;
    bottom: 0;
}

.paid-values {
    position: absolute;
    top: 5px;
    width: 90px;
    left: 50%;
    margin-left: -45px;
    display: block;
    text-align: center;
    font-size: 11px;
    color: #777b7d;
}

.paid-icon {
    background-image: url(../img/icon-values.png);
    width: 23px;
    height: 23px;
    display: inline-block;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .paid-icon {
        background-image: url(../img/icon-values@2x.png);
    }
}



/* State */
.expenses-item-check.is-active {
    background-image: url(../img/icon-check-active.png);
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .expenses-item-check.is-active {
        background-image: url(../img/icon-check-active@2x.png);
    }
}

.expenses-item.is-active {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.expenses-item.is-deleted {
    opacity: 0;
}


.slide-left.ng-enter,
.slide-left.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave,
.slide-up.ng-enter,
.slide-up.ng-leave,
.slide-down.ng-enter,
.slide-down.ng-leave {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    -ms-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition:  .25s ease-in-out;
}


.slide-left.ng-enter {
    z-index: 101;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.slide-left.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-left.ng-leave {
    z-index: 100;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-left.ng-leave.ng-leave-active {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-right.ng-enter {
    z-index: 100;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-right.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-right.ng-leave {
    z-index: 101;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-right.ng-leave.ng-leave-active {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.slide-up.ng-enter {
    z-index: 101;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.slide-up.ng-enter.ng-enter-active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.slide-down.ng-enter.ng-enter-active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.slide-down.ng-leave {
    z-index: 101;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.slide-down.ng-leave.ng-leave-active {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}