<div class="header">
	<h1></h1>
	<a class="header-back" ng-click="back('right')">Back</a>
</div>



<form class="addexpense" ng-submit="save()">
	<div class="row">
		{{message}}
	</div>
	<div class="row">
		<input class="addexpense-field" type="text" ng-model="expense.name" placeholder="Name of expense" />
	</div>
	<div class="row">
		<input class="addexpense-field" type="text" ng-model="expense.value" placeholder="Value of expense" />
	</div>

	<input class="addexpense-submit" type="submit" value="{{button}}">
</form>