<div class="header">
	<h1></h1>
	<a class="header-back" ng-click="back('right')">Back</a>
</div>



<form class="addexpense" ng-submit="save()">
	<div class="row">
		Add an expense
	</div>
	<div class="row">
		<input class="addexpense-field" type="text" ng-model="expense.name" placeholder="Guitar Classes" />
	</div>
	<div class="row">
		<input class="addexpense-field" type="number" ng-model="expense.value" placeholder="500,27" />
	</div>

	<input class="addexpense-submit" type="submit" value="Save">
</form>