<div class="header">
	<h1></h1>
	<a class="header-add" ng-click="go('add-expense', 'left')"></a>
</div>

<div class="month">
	<a class="month-prev month-pn" ng-click="prevMonth()"></a>
	<span class="month-date">
		{{month.month}}, <span class="month-year">{{month.year}}</span>
	</span>
	<a class="month-next month-pn" ng-click="nextMonth()"></a>
</div>

<ul class="expenses">
	<li ng-hide="expenses.length" class="expenses-item">
		You have no expenses yet,<br>
		Why don't you <a ng-click="go('add-expense', 'left')">add some?</a>
	</li>

	<li ng-repeat="expense in expenses|orderBy:'name'" class="expenses-item" ng-class="{'is-active': swipeActive, 'is-deleted': isDeleted}" ng-swipe-right="swipeActive = true" ng-swipe-left="swipeActive = false">
		<div class="expenses-actions">
			<a ng-click="delete(expense)" class="expenses-actions-delete"></a>
			<a class="expenses-actions-edit" ng-click="go('add-expense/{{expense.id}}', 'left')"></a>

		</div>
		<div class="expenses-name">
			{{expense.name}}
		</div>
		<div class="expenses-value">
			{{expense.value|currency:"R$"}}
		</div>
		<a ng-click="check(expense)" ng-class="{'is-active': checked(expense.id)}" class="expenses-item-check"></a>
	</li>
</ul>

<div class="paid">
	<a class="paid-values" ng-click="go('month-values', 'left')">
		<i class="paid-icon"></i><br>
		Total Values
	</a>
</div>