<div class="header">
	<h1></h1>
	<a class="header-add" ng-click="go('add-expense', 'left')"></a>
</div>

<div class="month">
	<a class="month-prev month-pn" ng-click="prevMonth()"></a>
	<span class="month-date">
		{{month.month}}, <span class="month-year">{{month.year}}</span>
	</span>
	<a class="month-next month-pn" ng-click="nextMonth()"></a>
</div>

<nav>
	<a ng-click="go('month-values', 'up')">Gastos</a>
</nav>

<ul class="expenses">
	<li ng-hide="expenses.length" class="expenses-item">No expenses</li>

	<li ng-repeat="expense in expenses|orderBy:'name'" class="expenses-item" ng-class="{'is-active': swipeActive}" ng-swipe-right="swipeActive = true" ng-swipe-left="swipeActive = false">
		<a ng-click="swipeActive = !swipeActive">at</a>
		<div class="expenses-actions">
			<a ng-click="delete(expense)" class="expenses-actions-delete"></a>
		</div>
		{{expense.name}}<br>
		{{expense.value}}
		<a ng-click="check(expense)" ng-class="{'is-active': checked(expense.id)}" class="expenses-item-check"></a>
	</li>
</ul>